.directory-container {
    margin: 2% 3px 0px 4%;
    max-width: fit-content;
    position: fixed;
}

.navbar-profileonly {
    margin-top: 100%;
}



.navbar-signeduser-only {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding-left: 0;
    width: 90%;
    height: 70vh
}

.navbar-item {
    justify-content: space-around;
    border: 1px solid black;
    list-style: none;
    text-align: center;
    font-size: xx-large;
}

.navbar-item:hover {
    background-color: gainsboro;
}

.navbar-link {
    color: black;
    text-decoration: none;
}